html,body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
}

img {
	pointer-events: none;
}

.game-div {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}

.circle {
	display:none;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 5px solid #b22222;
	box-sizing: border-box;
	position: absolute;
	z-index:61;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.start-button {
	display:none;
	width: 180px;
	height: 70px;
	border-radius:10px;
	border: 2px solid #ddd;
	position: absolute;
	background: white;
	z-index:61;
	background-image: url('./img/button-start.png');
	background-repeat: no-repeat;
	background-position: center center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-button {
	display:none;
	width:34px;
	height:34px;
	position: absolute;
	z-index:61;
	right:10px;
	top:10px;
	background-image: url('../images/assets/mobile/button-pause.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-div {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.95);
	z-index:62;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-container {
	width:219px;
	height:224px;
	display:block;
	position:relative;
	z-index:2;
	background-image: url('./img/bg-pause.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	top: -70px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-head {
	display:block;
	width:120px;
	height:120px;
	margin:0 auto;
	position:relative;
	top:-70px;
	z-index:3;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-text-container {
	position: relative;
	top: -120px;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-text {
	padding-left:10px;
	color:#333;
	font-size:16px;
	width:80%;
	line-height:30px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.pause-button-container {
	position:relative;
	text-align:center;
	z-index:3;
	top: -160px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.replay-button {
	display: inline-block;
	width:76px;
	height:76px;
	margin-right:30px;
	background-image: url('./img/button-replay.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.resume-button {
	display: inline-block;
	width:76px;
	height:76px;
	background-image: url('./img/button-resume.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.rotate-div {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.95);
	z-index:63;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

.rotate-img {
	width: 200px;
	height: 120px;
	background-image: url('../images/assets/pad/rotate.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: none;
}

/* CSS For iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

.rotate-img {
	width: 419px;
	height: 248px;
	background-image: url('../images/assets/pad/rotate.png');
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 8px solid #b22222;
}

.pause-button {
	width: 51px;
	height: 51px;
	right: 15px;
	top: 15px;
	background-image: url('../images/assets/pad/button-pause.png');
}

}